@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 300;
}

*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* --main-bg-color:#19192d;
   */
}

/* #083243
#DD2028 */

/* Button CSS Start*/
.button {
    position: relative;
    padding: 10px 15px;
    display: block;
    text-transform: uppercase;
    width: 140px;
    overflow: hidden;
    border-radius: 40px;
}

.button span {
    position: relative;
    left: 8px;
    color: white;
    font-size: 15px;
    font-family: 'Playfair Display', serif;
    z-index: 1;
}

.button .liquid {
    position: absolute;
    top: -80px;
    left: -25px;
    width: 200px;
    height: 200px;
    background-color: #DD2028;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
    transition: .3s;
}

.button .liquid::after,
a .liquid::before {
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: #000;
}

.button .liquid::before {
    border-radius: 45%;
    background: #083243;
    animation: animate 5s linear infinite;
}

.button .liquid::after {
    border-radius: 40%;
    background: #083243;
    animation: animate 10s linera infinite;
}

.button:hover .liquid {
    top: -120px;
}

@keyframes animate {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}


/* Button CSS End */

/* Social Media Start */

.social-media {
    width: 90%;
    margin: 0.7654rem auto;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    padding: 9px;
    background-color: #ffffff;
}

.s-media {
    height: 35px;
    width: 40px;
    margin-left: 0.5rem;
    position: relative;
}

.fa-brands {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.23rem;
}

.f {
    margin-top: 0;
    background-color: #4267B2;
    border-radius: 3px;
    transition: 0.3s ease;
    cursor: pointer;
}

.i {
    background: #E1306C;
    transition: 0.3s ease;
    border-radius: 3px;
    cursor: pointer;
}

.l {
    background-color: #0072b1;
    border-radius: 3px;
    transition: 0.3s ease;
    cursor: pointer;
}

.y {
    background-color: #FF0000;
    border-radius: 3px;
    transition: 0.3s ease;
    cursor: pointer;
}

.t {
    background-color: #000000;
    border-radius: 3px;
    transition: 0.3s ease;
    cursor: pointer;
}

.f:hover,
.i:hover,
.i:hover,
.l:hover,
.y:hover,
.t:hover {
    background-color: #545151;
}

/* Social Media End */

/* Header Section Start */

.header {
    width: 90%;
    height: 100%;
    margin: 0.7654rem auto;
    display: flex;
    justify-content: space-between;
}

.logo img {
    height: 8rem;
    width: 8rem;
}

.header-banner {
    display: flex;
    align-items: center;
}

/* Header Section End */

/* Menu Bar Section Start */

.menu-bar {
    background: rgba(221, 32, 40, 1);
    width: 100%;
    height: 50px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.menu-section {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.links {
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.links a {
    color: white;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 18px;
    margin-right: 2rem;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
}

.links a:after {
    content: "";
    position: absolute;
    background-color: white;
    height: 1px;
    width: 0%;
    left: 50%;
    bottom: -3px;
    transition: 0.3s;
}

.links a:hover:after {
    left: 0;
    width: 100%;
}

.search {
    display: flex;
    align-items: center;
}

.searchTerm {
    width: 100%;
    border: none;
    padding: 5px;
    height: 60%;
    border-radius: 5px 5px 5px 5px;
    outline: none;
    color: #DD2028;
}

.searchTerm:focus {
    color: black;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 1rem;
}

.searchButton {
    border: none;
    width: 40px;
    height: 60%;
    background: #DD2028;
    text-align: center;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

/* Menu Bar Section End */

/* Banner Section Start */

.second-banner {
    width: 90%;
    margin: 1rem auto;
}

.second-banner img {
    width: 100%;
}

/* Banner Section End */

/* Top HR Events in 2023 Start */

.top-hr-events {
    position: relative;
}

.backgroundimg>img {
    margin-top: 1rem;
    height: 100%;
    width: 100%;
}

.calender-text {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 4.9%;
    display: flex;
}

.text-top-hr {
    width: 40%;
    height: 100%;
}

.text-top-hr>h2 {
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    margin-bottom: 0.8rem;
    cursor: pointer;
    color: #DD2028;
    font-weight: 800;
    position: relative;
    top: 45%;
    left: 0%;
}

.text-top-hr>h4 {
    position: relative;
    top: 45%;
    left: 0%;
    color: white;
}

.calender {
    margin: 9rem 0 0 9rem;
}

.calender>img {
    width: 100%;
    height: 90%;
}

/* Top HR Events in 2023 End */

/* Month Related Events Start */

.months-heading {
    width: 90%;
    margin: 0.7654rem auto;
}

.months-heading h1 {
    margin-bottom: 1rem;
    color: #DD2028;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 500;
}

.month-related-events-section {
    width: 90%;
    margin: 0 auto 5rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 45px;
}

.month-realated-events{
    border-radius: 15px;
    margin-top: 3rem;
    box-shadow: 10px 9px 26px 2px rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: 10px 9px 26px 2px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 10px 9px 26px 2px rgba(0, 0, 0, 0.14);
}

.month-realated-event-heading {
    height: 12%;
    width: 100%;
    margin-bottom: 2rem;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}

.month-related-event-information, .month-realated-event-heading > h1{
    padding: 1rem 2rem;
}

.info-events {
    margin-bottom: 2rem;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
}

.info-events>span {
    margin-right: 1rem;
    color: #DD2028;
    font-weight: 600;
}

.changes-in-event,
.host-event,
.event-attend,
.whats-covered,
.dining,
.learn-more {
    text-align: justify;
    margin-bottom: 2rem;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
}

.learn-more {
    border: 1px solid #DD2028;
    width: 30%;
    padding: 1rem 1rem;
    cursor: pointer;
    transition: all 0.3s;
}

.learn-more:hover{
    background-color: #DD2028;
    color: white;
}

.bold{
    color: #DD2028;
    font-weight: 600;
}

/* Month Related Events End */

/* HR Event List 2023 Section Start */

.events {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.event-heading {
    font-family: 'Playfair Display', serif;
    margin-bottom: 0.8rem;
    cursor: pointer;
    color: #DD2028;
}

.hrevent-heading {
    font-weight: 800;
}

.hrevents-months {
    width: 90%;
    margin: 3rem auto 1rem auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 50px;
}

.months {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 15px;
    width: 70%;
    margin: 2rem 3.3rem;
    padding: 2rem 2rem;
    border: none;
    background-color: #DD2028;
    color: white;
    transition: all 0.3s;
}

.months:hover{
    background-color: white;
    color: black;
    border: 1px solid #DD2028;
}

/* HR Event List 2023 Section End */


/* Footer Section Start  */

.footer-main {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.footer {
    position: relative;
    width: 100%;
    background-color: #DD2028;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-media-footer {
    width: 90%;
    margin: 0.7654rem auto;
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 9px;
    background-color: #DD2028;
}

.s-media {
    height: 35px;
    width: 40px;
    margin-left: 0.5rem;
    position: relative;
}

.fa-brands {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.23rem;
}

.f {
    margin-top: 0;
    background-color: #4267B2;
    border-radius: 3px;
    transition: 0.3s ease;
    cursor: pointer;
}

.i {
    background: #E1306C;
    transition: 0.3s ease;
    border-radius: 3px;
    cursor: pointer;
}

.l {
    background-color: #0072b1;
    border-radius: 3px;
    transition: 0.3s ease;
    cursor: pointer;
}

.y {
    background-color: #FF0000;
    border-radius: 3px;
    transition: 0.3s ease;
    cursor: pointer;
}

.t {
    background-color: #000000;
    border-radius: 3px;
    transition: 0.3s ease;
    cursor: pointer;
}

.f:hover,
.i:hover,
.i:hover,
.l:hover,
.y:hover,
.t:hover {
    background-color: #545151;
}


.footer-social-icons,
.footer-menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.footer-menu li a {
    font-size: 0.8em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    opacity: 0.75;
}

.footer-menu li a:hover {
    opacity: 1;
}

.wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../Images/svg.png);
    background-size: 1000px 100px;
}

.wave#wave1 {
    z-index: 100;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}

@keyframes animateWave {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-position-x: 0px;
    }
}

/* Footer Section End  */